.hero-section{
  //background: url("../images/hero.png");
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center center;
  height: 100vh;
  position: relative;
  .container{
    height: 100%;
    &>.row{
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}
.backstretch{
  &:before{
    content: '';
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
#prev, #next{
  position: absolute;
  top: 45%;
  z-index: 9999;
  background-color: transparent;
  border: 0;
  border: none;
  width: 45px;
  padding: 8px;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  &:hover, &:focus, &:active{
    outline: none;
  }
}
#prev{
  left: 50px;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
#next{
  right: 50px;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
.hero-title{
  font-family: $abril;
  font-size: 54px;
  color: #ffffff;
  margin-bottom: 4.25rem;
  @include media-breakpoint-up(md){
    margin-bottom: 6.25rem;
  }
}
.hero-cta{
  font-family: $montserrat;
  font-size: 20px;
  font-weight: 400;
  color: $white;
  padding: 18px 60px;
  border-radius: 50px;
  border: 0;
  background-color: $primary;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  transition: all 0.3s ease;
  @include media-breakpoint-up(md){
    padding: 18px 90px;
  }
  &:hover, &:focus, &:active{
    text-decoration: none;
    color: $white;
    background-color: #f6838b;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
}
.ask-section{
  background-color: $white;
  padding-top: 60px;
  padding-bottom: 120px;
}
.section-title{
  position: relative;
  font-family: $playfair;
  font-size: 34px;
  font-weight: bold;
  color: $white;
  text-align: center;
  margin-bottom: 3.5rem;
  &:after{
    position: absolute;
    bottom: -28px;
    left: calc(50% - 32px);
    content:'';
    width: 65px;
    height: 2px;
    background-color: #b08767;
    border: solid 3px #b08767;
    border-radius: 10px;
  }
}
.ask-p-text{
  font-size: 18px;
  line-height: 1.28;
  color: #686868;
}
.ask-step-title{
  display: flex;
  align-items: center;
  //justify-content: center;
  margin-bottom: 20px;
  .step-no{
    font-family: $playfair;
    font-size: 100px;
    color: #b08767;
    display: block;
    padding-right: 15px;
  }
  .step-name{
    font-family: $playfair;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.23;
    color: #4a4a4a;
    position: relative;
    top: 14px;
  }
}

.service-section{
  background-color: $primary;
  padding: 45px 0 90px;
}
.service-slider{
  margin-top: 55px;
  margin-bottom: 55px !important;
  .slick-slide{
    text-align: center;
    overflow: hidden;
    a{
      position: relative;
      display: inline-block;
      border: 0;
      &:hover, &:focus, &:active{
        border: 0;
        outline: none;
      }
      h2{
        position: absolute;
        top: 18px;
        left: 25px;
        right: 25px;
        font-family: $playfair;
        font-size: 44px;
        font-weight: 900;
        color: #ffffff;
        margin: 0;
        text-align: left;
        @include media-breakpoint-up(md){
          font-size: 35px;
        }
        @include media-breakpoint-up(lg){
          font-size: 44px;
        }
      }
      img{
        //background-color: rgba(0, 0, 0, 0.15);
        margin: 0 auto;
      }
    }
  }
}

.why-section{
  background-color: $white;
  padding: 45px 0 90px;
}
.section-title-why{
  color: #3a3a3a;
  margin-bottom: 90px;
}
.why-box{
  position: relative;
  background-color: #ffd0cc;
  border: solid 21px #ffd0cc;
  height: 100%;
  p{
    font-family: $montserrat;
    font-size: 18px;
    color: #363636;
    margin-top: 28px;
  }
  h2{
    position: absolute;
    top: 18px;
    left: 20px;
    right: 20px;
    font-family: $playfair;
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    margin: 0;
    overflow: hidden;
    @include media-breakpoint-up(md){
      font-size: 33px;
    }
    @include media-breakpoint-up(xl){
      font-size: 44px;
    }
  }
}
.testimonial-section{
  background-color: #f7f7f7;
  padding: 45px 0 60px;
}
.testimonial-rating{
  margin-bottom: 25px;
  i{
    color: $primary;
    font-size: 32px;
    @include media-breakpoint-up(md){
      font-size: 28px;
    }
    @include media-breakpoint-up(lg){
      font-size: 32px;
    }
  }
}
.customer-name{
  font-size: 18px;
  color: #4a4a4a;
  margin-bottom: 15px;
}
.customer-message{
  font-size: 18px;
  line-height: 1.33;
  color: #686868;
}
.testimonial-slider{
  .slick-dots li button:before{
    background-color: #4a4a4a;
    border:1px solid #4a4a4a;
  }
  .slick-dots li.slick-active button:before{
    background-color: transparent;
  }
  .slick-dots{
    bottom: -55px;
  }
}
.contact-section{
  background-color: $white;
  padding: 60px 0;
  @include media-breakpoint-up(md){
    padding-bottom: 384px;
  }
  //i{
  //  font-size: 62px;
  //  color: #ed7a82;
  //  margin-bottom: 28px;
  //}
  a{
    font-family: $montserrat;
    font-size: 16px;
    font-weight: bold;
    color: #4a4a4a;
    &:hover,&:hover,&:hover{
      text-decoration: none;
      color: #4a4a4a;
    }
  }
}
.contact-text{
  font-size: 14px;
  line-height: 1.64;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 40px;
}
.contact-icon{
  width: 62px;
  height: 62px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}