.service-content-section{
  background-color: $white;
  padding-top: 130px;
  padding-bottom: 130px;
  @include media-breakpoint-up(md){
    padding-top: 170px;
    padding-bottom: 480px;
  }
}
.page-title{
  font-family: $playfair;
  font-size: 34px;
  font-weight: 900;
  color: #4a4a4a;
  margin-bottom: 20px;
  @include media-breakpoint-up(md){
    margin-bottom: 65px;
    font-size: 45px;
  }
  @include media-breakpoint-up(lg){
    font-size: 54px;
  }
}
.service-title{
  font-size: 18px;
  color: #4a4a4a;
  position: relative;
  margin-top: 28px;
  margin-bottom: 22px;
  &:before{
    position: absolute;
    bottom: -9px;
    left: 0;
    content: '';
    width: 65px;
    height: 4px;
    background-color: #b08767;
    border-radius: 5px;
  }
}
.service-subtext{
  font-size: 18px;
  color: #4a4a4a;
  margin-bottom: 40px;
  line-height: 1.33;
}
.service-detail-list{
  font-size: 18px;
  line-height: 1.17;
  color: #4a4a4a;
  padding-left: 35px;
  margin-bottom: 50px;
  li{
    margin-bottom: 10px;
  }
}
.price-label{
  font-family: $montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: $primary;
  margin-bottom: 40px;
  padding-left: 17px;
}
.nav-tabs-services{
  margin-bottom: 20px;
  li{
    width: 100%;
    a{
      font-family: $gothic;
      font-size: 18px;
      font-weight: bold;
      color: #4a4a4a;
      position: relative;
      padding-left: 36px;
      &:before{
        position: absolute;
        left: 0;
        top: calc(50% - 7px);
        content: '';
        height: 14px;
        width: 14px;
        border: solid 1px #b08767;
        border-radius: 20px;
      }
      &.show, &.active{
        &:before{
          content: '';
          background-color: #b08767;
        }
      }
    }
  }
}
.input-group-count-label{
  font-family: $montserrat;
  font-size: 18px;
  color: #4a4a4a;
  margin-bottom: 4px;
  padding-left: 17px;
}
.input-group-count{
  margin-left: 17px;
  width: 114px;
  .btn{
    border-radius: 0;
    line-height: 1.33;
    &:hover, &:focus, &:active{
      box-shadow: none;
      outline: none;
  }
  }
  .form-control{
    background-color: #ffffff;
    border: solid 1px $primary;
    font-family: $montserrat;
    font-size: 18px;
    color: #4a4a4a;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    line-height: 1.33;
    &:hover, &:focus, &:active{
      box-shadow: none;
      outline: none;
    }
  }
}
.btn-add-to-cart{
  line-height: 1.9;
  width: 100%;
  @include media-breakpoint-up(sm){
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
  @include media-breakpoint-up(md){
    padding-left: 100px;
    padding-right: 100px;
  }
}


//Service 2.1 CSS START

.service-accordion{
 .card{
   border-radius: 2px;
   background-color: #ffffff;
   border: solid 1px $primary;
   margin-bottom: 16px;
   .card-header{
     background-color: transparent;
     border: 0;
     padding: 0;
     button{
       font-family: $gothic;
       font-size: 16px;
       line-height: 1.25;
       color: #4a4a4a;
       padding: 12px 21px;
       border: 0;
       &:hover, &:active, &:focus{
         text-decoration: none;
       }
       &.btn-accordion-toggle{
         width: 80%;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         text-align: left;
       }
     }
   }
   &:first-of-type{
     border: solid 1px $primary;
     border-radius: 2px;
   }
   &:not(:first-of-type):not(:last-of-type){
     border: solid 1px $primary;
     border-radius: 2px;
   }
   &:last-of-type {
     border: solid 1px $primary;
     border-radius: 2px;
   }
 }
}
.btn-accordion-toggle{
  &+.btn{
    border-radius: 0;
    &:hover, &:focus, &:active{
      box-shadow: none;
      outline: none;
    }
  }
  &[aria-expanded="false"] {
    &+.btn{
      &:before{
        content: '+';
        color: #fff;
        font-size: 14px;
      }
    }
  }

  &[aria-expanded="true"] {
    &+.btn{
      &:before{
        content: '-';
        color: #fff;
        font-size: 14px;
      }
    }
  }

}
.select-label{
  font-size: 16px;
  line-height: 1.25;
  color: #4a4a4a;
}
.check-icon{
  font-size: 70px !important;
  color: #7ed321;
}
.modal-p{
  font-size: 18px;
  color: #4a4a4a;
}
.modal-custom{
  .modal-dialog{
    @include media-breakpoint-up(xs){
      max-width: auto;
    }
    @include media-breakpoint-up(sm){
      max-width: 540px;
    }
    @include media-breakpoint-up(md){
      max-width: 720px;
    }
    @include media-breakpoint-up(lg){
      max-width: 960px;
    }
    @include media-breakpoint-up(xl){
      max-width: 1140px;
    }
  }
}