//Font Family
$playfair: 'Playfair Display', serif;
$gothic: 'Gothic A1', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$abril: 'Abril Fatface', cursive;
$fontawesome: 'FontAwesome';


//Colors
$base-color: #CE747D;
$primary: #ed7a82;
$success: #7ED321;
$danger: #D1021B;

//breakpoint
$hd: 1024px;