footer{
  background-color: #4a4a4a;
  padding-top: 35px;
}
.footer-title{
  font-size: 18px;
  color: #ed7a82;
  margin-bottom: 30px;
}
.footer-list{
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  li{
    list-style: none;
    a {
      font-size: 14px;
      color: #ffffff;
      line-height: 30px;
      &:hover, &:focus, &:active {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}
.footer-copyright{
  border-top: solid 2px #979797;
  font-size: 14px;
  color: #ffffff;
  padding: 19px 0;
}
.subscribe-form{
  .form-control{
    background-color: transparent;
    border-radius: 0;
    border: solid 1px #979797;
    font-family: $gothic;
    font-size: 15px;
    color: #fff;
    &:focus{
      box-shadow: none;
      outline: none;
    }
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-family: $gothic;
      font-size: 15px;
      color: #8a8a8a;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      font-family: $gothic;
      font-size: 15px;
      color: #8a8a8a;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      font-family: $gothic;
      font-size: 15px;
      color: #8a8a8a;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      font-family: $gothic;
      font-size: 15px;
      color: #8a8a8a;
    }
  }
  .btn{
    border-radius: 0;
    color: $white;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
}
.logo-footer{
  margin-right: 10px;
  position: relative;
  top: -2px;
}