.navbar-reset{
  padding: 0;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.26);
}
.action-nav{
  width: 100%;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(239, 142, 149, 0.85);
  .nav-item{
    &>a{
      font-family: $montserrat;
      font-size: 14px;
      color: $white;
      &:hover, &:focus, &:active{
        text-decoration: none;
      }
    }
  }
  .dropdown-menu{
    background-color: #f7f7f7;
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
    padding: 20px;
    margin-top: 0;
  }
}
.main-menu{
  position: relative;
  width: 100%;
  display: block;
  background-color: rgba(253, 253, 253, 0.85);
  .nav-item{
    &>a{
      font-family: $montserrat;
      font-size: 14px;
      color: #4a4a4a;
      &.nav-link {
        display: block;
        padding: 1.5rem 1.8rem;
      }
    }
  }
  .navbar-toggler{
    position: absolute;
    top: 13px;
    left: 15px;
    @include media-breakpoint-up(md){
      display: none;
    }
    &:focus{
      outline: none;
    }
  }
}
.nav-link-logo{
  padding: 0.5rem 1rem;
  display: block;
}
.dropdown-login-form{
  position: unset;
  @include media-breakpoint-up(sm){
    position: relative;
  }
  .dropdown-menu-login-form{
    min-width: 100%;
    top: 37px;
    @include media-breakpoint-up(sm){
      top: 100%;
      min-width: 396px;
    }
  }
  &.show{
    .dropdown-toggle{
      position: relative;
      &:before{
        content: '';
        width: 115px;
        height: 5px;
        background-color: #f7f7f7;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .dropdown-menu{
    .form-control{
      font-family: $gothic;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px #e6e6e6;
      line-height: 1.9;
      &:hover,&:hover,&:hover{
        //outline: none;
        //box-shadow: none;
      }
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: $gothic;
        font-size: 14px;
        line-height: 1.43;
        color: #9b9b9b;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        font-family: $gothic;
        font-size: 14px;
        line-height: 1.43;
        color: #9b9b9b;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        font-family: $gothic;
        font-size: 14px;
        line-height: 1.43;
        color: #9b9b9b;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        font-family: $gothic;
        font-size: 14px;
        line-height: 1.43;
        color: #9b9b9b;
      }
    }
    .form-group{
      margin-bottom: 23px;
    }
  }
}
.form-title{
  font-size: 18px;
  color: #ed7a82;
  margin-bottom: 30px;
  margin-top: 20px;
  line-height: 1.33;
}
.form-link{
  font-size: 18px;
  color: #686868;
  margin-bottom: 5px;
}
.mobile-nav-list{
  background-color: #ed7a82;
  .nav-item{
    width: 100%;
    &> a {
      color: #fff;
    }
  }
}
.mobile-hide{
  display: none;
  @include media-breakpoint-up(md){
    display: list-item;
  }
}